{# app/Resources/TwigBundle/views/Exception/error403.html.twig #}
{% block title %}Access denied{% endblock %}
{% extends "::base.html.twig" %}

 {% block eene_user_content %}
 	<div class="row">
			<div class="col-md-8 col-md-offset-4">
        <h1> Access denied</h1>
            <p></p>
            <p></p>
    
        <p>
          You are not authorized to access this page.. Checkout for any URL
            misspelling or <a href="{{ path('user_login') }}">return to the homepage</a>.
        </p>
            <p></p>
            <p></p>
    </div>
    </div>
{% endblock %}